body {
  padding-bottom: 70px;
}
.or_txt {
    text-align: center;
    line-height: 10;
}
.my-form {
    background-color: #f6e58d;
    min-height: 200px !important;
    border-radius: 10px;
}
.title {
    padding-bottom: 40px;
    font-size: 30px;
}
.result_header {
    margin: 0px;
    font-size: 26px;
    text-align: center;
}
.print_output {
    padding: 25px;
}
.heading {
    margin: 0px;
    padding: 10px;
}
.section-header {
    padding: 15px 0px;
    font-size: 15px;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-underline-position: from-font;
    font-weight: 600;
}
.convertor-form {
    padding: 10px;
    font-size: 13px;
    float: left;
    clear: both;
}
.convertor-form button {
    padding: 10px;
    float: left;
    clear: both;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    background-color: #30336b;
    color: #FAFAFA;
    border-color: #30336b;
    border-radius: 5px;
}
.convertor-form label {
    float: left;
    clear: both;
    font-size: 15px;
    vertical-align: middle;
}
.convertor-form input {
    float: left;
    clear: none;
    padding-left: 5px;
    margin-left: 10px;
    width: 250px;
}
.alert.alert-danger {
    margin: 2px 30px;
}
.url-info-panel {
    margin: 2px 30px;
}
.downloads {
    text-align: center;
    font-size: 22px;
}
.downloads a {
    padding: 10px 50px;
}