{% include "header.html" %}

{% include "form.html" %}
<hr/>
{% if failure %}
    <div class="alert alert-danger" role="alert">
        Unable to process the request at this time.
        <ul>
            <li>Please check if your input is not empty</li>
            <li>Please check if your input is not malformed</li>
            <li>Please check if your input is valid</li>
        </ul>
    </div>
{% else %}
    <div class="downloads">
        <a href="/download_as_pdf_file?operation_id={{ operation_id }}">
            <i class="fa fa-file-pdf-o" aria-hidden="true">
                Download as pdf file
            </i>
        </a>
        <a href="/download_as_text_file?operation_id={{ operation_id }}">
            <i class="fa fa-file-text-o" aria-hidden="true">
                Download as txt file
            </i>
        </a>
    </div>
{% endif %}
<hr/>
<div class="row result_header">
    Converted digital text
</div>
<hr/>
<div class="print_output">
    <pre>
        {{ digital_text }}
    </pre>
</div>

{% include "footer.html" %}
