<div class="panel panel-info url-info-panel">
    <div class="panel-heading">Looking for images to test? Please use the images in the below urls</div>
    <div class="panel-body">
        <ol>
            <li>https://i.redd.it/pf440nc480921.jpg</li>
            <li>https://raw.githubusercontent.com/MicrosoftDocs/azure-docs/master/articles/cognitive-services/Computer-vision/Images/readsample.jpg</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="hidden-md col-lg-1"></div>
    <div class="col-md-12 col-lg-4 my-form">
        <div class="section-header">Convert a handwritten text image from an url</div>
        <div class="convertor-form convert-from-url">
            <form action="/convert_from_url" method="POST">
                <label>Image URL: </label>
                <input type="text" placeholder="Place the handwritten image url here" name="image_url">
                <button type="submit" class="convert-button btn btn-primary mb-2">Read and convert <i class="glyphicon glyphicon-refresh"></i></button>
            </form>
        </div>
    </div>
    <div class="col-md-12 col-lg-2 or_txt">
       ( OR )
    </div>
    <div class="col-md-12 col-lg-4 my-form">
        <div class="section-header">Convert a handwritten text image by uploading</div>
        <div class="convertor-form convert-from-local">
            <form action="/convert_from_local" method="POST" enctype="multipart/form-data">
                <label>Upload image: </label>
                <input type="file" accept="image/png, image/jpeg, image/jpg" placeholder="Upload the image here" name="image">
                <button type="submit" class="convert-button btn btn-primary mb-2">Upload and convert <i class="glyphicon glyphicon-upload"></i></button>
            </form>
        </div>
    </div>
    <div class="hidden-md col-lg-1"></div>
</div>
